<template>
  <q-page class="flex flex-center">
    Api response from backend application is =>{{this.apiResponse}}
  </q-page>
</template>

<script>
export default {
  name: "PageIndex",
  data(){
    return {
      apiResponse:null
    }
  },
  created() {
    this.$axios.get("/api/test").then(response=>{
      this.apiResponse=response.data;
    })
  }
};
</script>
